In [ ]:
import pandas as pd

In [ ]:
#1D data
series=pd.Series(["BMW", "Honda", "Mercedes"])
series

0         BMW
1       Honda
2    Mercedes
dtype: object

In [ ]:
colour=pd.Series(["Red","Blue","Green"])
colour

0      Red
1     Blue
2    Green
dtype: object

In [ ]:
#2D data
dataframe=pd.DataFrame({"Model":series,"Colours":colour})
dataframe

      Model Colours
0       BMW     Red
1     Honda    Blue
2  Mercedes   Green

In [ ]:

car_sales=pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00